* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vw);
  scroll-snap-type: y mandatory;
  display: block;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

section {
  padding: 1rem;
  min-width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  text-align: center;
  position: relative;
}

section:nth-child(1) {
  background-color: rgb(216, 191, 216);
}

section:nth-child(2) {
  background: rgb(188, 143, 143);
}

section:nth-child(3) {
  background: rgb(220, 20, 60);
}

section:nth-child(4) {
  background: rgb(119, 136, 153);
}

p {
  font-family: Sans-Serif;
  font-size: calc(1rem + 3vw);
  color: white;
  position: relative;
  top: 50%;
  text-align: center;
}

footer {
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100vw;
  background-color: #00000077;
}